<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="og:title" content="{{data.ogTitle}}" />
    <meta name="og:description" content="{{data.ogDiscription}}" />
    <meta property="og:image" content="https://votewatchers.co.in/views/uploads/{{data.image}}" />
    <meta property="og:site_name" content="1Sambayan" />
    <meta name="twitter:image:alt" content="https://votewatchers.co.in/views/uploads/{{data.image}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0," />
</head>
<body>
    <script> location.href = 'https://votewatchers.co.in/{{data.request}}?_id={{data._id}}';</script>
</body>
</html>