ul.post_type_navbar {
    li.nav-item.show.dropdown {
        background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
    }

    li.nav-item.show.dropdown a {
        color: #fff !important;
        // cursor: pointer !important;
        i {
            color: #fff !important;
        }
    }
    li.nav-item.show.dropdown a:hover {
        background: transparent !important;
    }
    .dropdown-toggle {
        cursor: pointer !important;
    }
    .dropdown-toggle::after {
        right: 25px;
        position: absolute;
        top: 20px;
    }
    ul.dropdown-menu {
        width: 100%;
        position: relative !important;
        bottom: auto;
        background: transparent;
        top: auto;
        left: auto;
        right: auto;
        transform: none !important;
        border: 0 !important;
        box-shadow: none;
    }
}

.tox .tox-notification--warn,
.tox .tox-notification--warning,
.tox-tinymce-aux {
    display: none !important;
}
.other_banner {
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767.98px) {
    .other_banner {
        padding: 50px 0;
    }
}

b, strong {
    font-weight: 700;
}
.section-1 .back{
    background-color: #ff9800;
}
.section-7 .card .card-body .read{
    margin: 0 auto !important;
}

.section-7 .card {
    background-blend-mode: overlay;
    background-color: #0000008f;
    padding-bottom: 20px;
}
.footer_copyright{
    background-color: #ff9800;
}
#primary_main_menu li.nav-item {
    display: flex;
    align-items: center;
}
#primary_main_menu li.btn.nav-item{
    background-color: #ff6400 !important;
}
button.sc-iBPTik,button.geUCyG:hover:not(:disabled),button.geUCyG:focus {
    background-color: #12a8f0;
    color: #fff;
}
button.del_btn:hover{
    transform: none !important;
}
button.del_btn{
    height: 49.5px;
    transform: none !important;
    border-radius: 2px !important;
    width: 48px;
    padding: 0;
}
header#header nav.navbar ul.navbar-nav li .dropdown-menu a {
    color: #fe6400;
    padding: 4px 16px;
}